@charset "utf-8";
/* 관리자단 첫페이지 index.css */

.mms_icons {position:relative;height:18px;min-width:1160px;}
.mms_icons a {position:absolute;bottom:0px;cursor:pointer;z-index:10;border:solid 0px #e24769;border-top-left-radius:4px;border-top-right-radius:4px;height:18px;padding:0px 8px;background:#3E4B64;color:#fff !important;}
.mms_icons a span{position:relative;top:-5px;}
.mms_icons a.on {background:#E37427;}
.mms_icons .icon_max, .mms_icons .icon_min {right:5px;color:#ffe99d;}
.mms_icons .icon_max:hover {color:#5a5a5a;}
.mms_icons .icon_graph, .mms_icons .icon_setting {right:55px;}
.graph_icons .icon_x1 {right:271px;}
.graph_icons .icon_x2 {right:232px;}
.graph_icons .icon_x3 {right:193px;}
.graph_icons .icon_x4 {right:154px;}
.graph_icons .icon_x5 {right:115px;}
.list_icons .icon_x8 {right:257px;display:none;}
.list_icons .icon_x10 {right:212px;display:none;}
.list_icons .icon_x12 {right:167px;display:none;}
.list_icons .icon_x15 {right:121px;display:none;}
.mms_icons i {padding:0;width:0;height:0;font-size:0;}

.list_wrapper {position:relative;border:solid 1px #3E4B64;border-radius:2px;background:#3E4B64;margin-bottom:5px;
/* height:600px; */
overflow-x:hidden;
min-width:1160px;
}
.list_wrapper:after {display:block;visibility: hidden;clear: both;content: '';}
.mms_container {position:relative;float:left;border-radius:4px;border:solid 1px #43535C;margin:5px 4px;
    padding-bottom:3px;
    background: #242F4B;width:185px;
    cursor:pointer;
    -moz-outline: none;
    outline: none;
    /* ie-dummy: expression(this.hideFocus=true); */
}
.mms_container.x8 {width:11.9%;}
.mms_container.x10 {width:9.4%;}
.mms_container.x12 {width:8.5%;}
.mms_container.x15 {width:6.0%;}
.mms_container.on td {background:#242F4B;color:#efefef;}
.mms_container.plus {background:#444242;text-align:center;color:#bbb;font-size:5em;height:145px;padding-top:20px;cursor:pointer;}
.list_mms_table td {padding:0 4px;word-break:keep-all;color:#efefef;}
.list_mms_table td:first-child {width:58px;}
.list_mms_table .tr_title {cursor: grab;}
.list_mms_table .tr_title td {background: #343d48;color:white;font-size:1.1em;padding:4px 2px;}
.td_dot {height:12px;line-height:12px;font-size:0.8em;color:#dcba3a;}
.td_dot .fa {margin-right:5%;font-size:0.5em;}
.td_dot .fa-circle {color:#888;}
.td_dot .fa-circle-o {color:lightgray;}

.ui-tabs-panel:after {display:block;visibility: hidden;clear: both;content: '';}
.slide_prev, .slide_next {
    font-size:6em;
    position: absolute;
    top: 32%;
    cursor: pointer;
    z-index:1;
    opacity:0.3;
}
.slide_prev {left:-1px;}
.slide_next {right:-1px;}

/* Left Wing */
.mms_wrapper {padding:0;min-width:1160px;}
.mms_wrapper:after {display:block;visibility: hidden;clear:both;content:'';}
.data_left {float:left;width:15%;}
.mms_title {position:relative;background-color: #343d48;color:white;padding:9px;border-top-left-radius:5px;border-top-right-radius:5px;}
.mms_title .icon_mms_setting {position:absolute;top:8px;right:8px;color:white;}
.mms_title .span_mms_setting {position:absolute;top:45px;right:-22px;display:none;z-index:20;background:#333;padding:5px 8px;border-radius:6px;width:auto;}
.mms_title .span_mms_setting:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 59px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent #333 transparent;
}
.mms_title .span_mms_setting a {display:inline-block;color:white;}

.mms_image {background-color: #242F4B;text-align:center;min-height:150px;line-height:150px;}
.mms_image img{width:100%;cursor:pointer;}

.data_mms_table td {padding:4px;background:#3E4B64;color:#efefef;}
.data_mms_table td:first-child {width:87px;}

.no_mms_list {width:100% !important;height:168px;line-height:168px;text-align:center;}

.mms_install_date {text-align:center;color:#818181;padding:5px;}
.ui-tabs .ui-tabs-panel {
    padding: 5px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0.5em 0.6em 0.2em;
}


/* Right Wing */
.data_right {float:right;width:84.5%;min-height:508px;border:solid 1px #3E4B64;border-radius:5px;}
.data_right iframe {width:100%;}

.mms_tabs a:active, .mms_tabs a:focus {
    -moz-outline: none;
    outline: none;
    ie-dummy: expression(this.hideFocus=true);
}


/* max window */
.max_wrapper {position:fixed;top:0;left:0;z-index:1100;width:100%;height:100%;background:rgba(0,0,0,0.7);padding:10px 10px 30px;display:none;}
.max_container {border:solid 2px #000;border-radius:5px;height:100%;background:#333;overflow-y:auto;}
.max_container iframe {width:100%;}
.max_container .list_wrapper {height:99%;}

/*jquery-ui.css override style*/
.ui-widget.ui-widget-content{background:#3E4B64;border:1px solid #43535C;}
.ui-widget-header{border:1px solid #080623;}
.ui-tabs .ui-tabs-nav{background:#080623;}
.ui-tabs .ui-tabs-nav li{background:#0B1838;border:1px solid #080623;}
.ui-tabs .ui-tabs-nav li.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background:#3E4B64;
    border-bottom:1px solid #3E4B64;
}
